<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Dear <%=@user.username%><br>
    <p>Your alert for amount <%= @amount %> got triggered!</p>
  </body>
</html>